h1 {
    display: inline;
}

div {
    margin: 10px;
}

button {
    width: 150px;
    height: 35px;
    font-size: large;
    border-radius: 5px;
    margin-left: 10px;
}

#txtWPath, #txtMPath {
    width: 500px;
    height: 30px;
    font-size: large;
}

#txtMntPath {
    width: 200px;
}
